graft ebel
graft tests
graft docs

recursive-include docs *.md
recursive-include docs *.txt
recursive-include docs *.yml

global-exclude *.py[cod] __pycache__ *.so .DS_Store *.png *.ipynb *.json

include Dockerfile
include *.cfg *.yml
include *.txt *.in *.sh
exclude .dockerignore

