graft ebel
graft tests

include Dockerfile docs/Makefile .dockerignore
include *.rst *.txt *.yml LICENSE tox.ini

recursive-include docs/source *.py *.rst
recursive-include docs *.ini

recursive-exclude notebooks/
global-exclude *.py[cod] __pycache__ *.so .DS_Store *.png *.ipynb *.json

exclude .bumpversion.cfg
