graft ebel
graft tests

include Dockerfile docs/Makefile .dockerignore
include *.rst *.txt *.yml LICENSE tox.ini *.sh

recursive-include docs/source *.py *.rst
recursive-include docs *.ini *.txt *.py *.md *.yml

global-exclude *.py[cod] __pycache__ *.so .DS_Store *.png *.ipynb *.json

exclude .bumpversion.cfg
