site_name: e(BE:L)
site_url: https://ebel.readthedocs.io/en/latest/
site_description: Creation and enrichment of BEL networks.
site_author: Bruce Schultz

repo_url: https://github.com/e-bel/ebel

theme: readthedocs

extra:
    version: 1.0.36

nav:
#    - Home: index.md
    - Home: index.md
    - User Guide:
        - API: api.md
        - CLI: cli.md
        - OrientDB Interface: odb.md

markdown_extensions:
    - mkdocs-click

copyright: Copyright &copy; 2023

plugins:
    - search
    - render_swagger
    - autorefs
    - mkdocstrings:
        default_handler: python
        handlers:
          python:
            paths: [ebel]
            options:
              docstring_section_style: list
              members_order: source
              show_root_heading: true
              show_source: false
              show_signature_annotations: true
