site_name: e(BE:L)
site_url: https://ebel.readthedocs.io/en/latest/
site_description: Creation and enrichment of BEL networks.
site_author: Bruce Schultz

repo_url: https://github.com/e-bel/ebel
#edit_uri: blob/master/docs/

theme: readthedocs

extra:
    version: 1.0.28

nav:
    - Home: index.md
#    - Getting Started: ../README.rst
    - User Guide:
        - API: api.md
        - CLI: cli.md
        - OrientDB Interface: odb.md

markdown_extensions:
    - mkdocs-click

copyright: Copyright &copy; 2022

plugins:
    - search
    - render_swagger
#    - redirects:
#        redirect_maps:
#            user-guide/plugins.md: dev-guide/plugins.md
#            user-guide/custom-themes.md: dev-guide/themes.md
#            user-guide/styling-your-docs.md: user-guide/choosing-your-theme.md
    - autorefs
    - mkdocstrings:
        handlers:
          python:
            options:
              docstring_section_style: list
              members_order: source
              show_root_heading: true
              show_source: false
              show_signature_annotations: true

#watch:
#    - mkdocs
