openapi: 3.0.0
servers:
  - url: https://bikmi3.scai.fraunhofer.de
    description: SCAI production server
  - url: https://bikmi3-dev.scai.fraunhofer.de
    description: SCAI development server
  - url: https://localhost:5000/
    description: Local development server
info:
  title: e(BE:L) RESTful API
  version: '1.0.0'
  contact:
    name: Christian Ebeling
    email: Christian.Ebeling@scai.fraunhofer.de
  license:
    name: Fraunhofer SCAI
    url: https://www.scai.fraunhofer.de
  description: |

    ## Background

    __e(BE:L)__ uses several data resources to extend a [BEL (Biological Expression Language)](https://language.bel.bio/) knowledge graph. 
    The content is restricted to the parts needed to extend the graph. Not all content e(BE:L) knowledge base includes is available 
    as API method. Please contact [Christian Ebeling](mailto:Christian.Ebeling@scai.fraunhofer.de?subject=eBEL_integration) or the e(BE:L) developer TEAM, if you want to integrate new functions or implemnet it in our project.

    Following database are integrated in the BEL knowledge extension process:

    1. [BioGRID](#/BioGRID) (database of protein, genetic and chemical interactions) [&#128279;](https://thebiogrid.org/)
    2. [ChEBI](#/ChEBI) (chemical entities of biological interest) [&#128279;](https://www.ebi.ac.uk/chebi/)
    3. [ClinicalTrials.gov](#/ClinicalTrials.gov) (privately and publicly funded clinical studies) [&#128279;](https://clinicaltrials.gov/)
    4. [ClinVar](#/ClinVar) (genomic variation and its relationship to human health) [&#128279;](https://www.ncbi.nlm.nih.gov/clinvar/)
    5. [DisGeNET](#/DisGeNET) (genes and variants associated to human diseases) [&#128279;](https://www.disgenet.org/)
    6. [Drugbank](#/Drugbank) (information on drugs and drug targets, only available if you have a valid licence) [&#128279;](https://go.drugbank.com/)
    7. [Ensembl](#/Ensembl) (genomes of humans, vertebrates and model organisms) [&#128279;](http://www.ensembl.org/index.html)
    8. [Expression Atlas](#/Expression%20Atlas) (gene expression across species and biological conditions) [&#128279;](https://www.ebi.ac.uk/gxa/home)
    8. [GWAS Catalog](#/GWAS%20Catalog) (catalog of human genome-wide association studies) [&#128279;](https://www.ebi.ac.uk/gwas/)
    9. [HGNC](#/HGNC) (resource for approved human gene nomenclature) [&#128279;](https://www.genenames.org/)
    10. [IntAct](#/IntAct) (molecular interaction data) [&#128279;](https://www.ebi.ac.uk/intact/)
    11. [IUPHAR/BPS](#/IUPHAR) (International Union of Basic & Clinical Pharmacology) [&#128279;](https://www.guidetopharmacology.org/)
    12. [KEGG](#/KEGG) (genomes, biological pathways, diseases, drugs, and chemical substances) [&#128279;](https://www.genome.jp/kegg/)
    13. [miRTarBase](#/miRTarBase) (experimentally validated microRNA-target interactions) [&#128279;](http://mirtarbase.cuhk.edu.cn/php/index.php)
    14. [NCBI Gene](#/NCBI%20Gene) NCBI Gene data
    15. [Offsides](#/Offsides) (Drug side effects) [&#128279;](http://tatonettilab.org/offsides/)
    16. [Pathway Commons](#/Pathway%20Commons) (public pathway and interactions databases) [&#128279;](https://www.pathwaycommons.org/)
    17. [Human Protein Atlas](#/Protein%20Atlas) (protein expression database) [&#128279;](https://www.proteinatlas.org/)
    18. [Reactome](#/Reactome) (biological pathways) [&#128279;](https://reactome.org/)
    19. [STRING](#/STRING) (protein-protein interaction networks) [&#128279;](https://string-db.org/)
    20. [UniProt](#/UniProt) (cross-references and functional information on proteins) [&#128279;](https://www.uniprot.org/)

    Delelopment & Contact | in IMI project | funded by |
    -------------|----------------|------------|
    <a href="https://www.scai.fraunhofer.de/de/geschaeftsfelder/bioinformatik.html" target="_blank"><img src="https://www.scai.fraunhofer.de/content/dam/scai/scai_logo.svg" width="100"></a><br><a href="mailto:Christian.Ebeling@scai.fraunhofer.de"><span style="font-size:6px;">Christian Ebeling</span></a> | <a href="https://www.phago.eu" target="_blank"><img src="https://www.phago.eu/fileadmin/websites/phago/layout/logo-phago.png" width="100"></a> | <a href="https://www.imi.europa.eu" target="_blank"><img src="https://www.imi.europa.eu/themes/custom/imi/images/imi_logo.png" width="100"></a> <a href="https://www.efpia.eu/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/a/a8/European_Federation_of_Pharmaceutical_Industries_and_Associations_logo.svg" width="50"></a> <a href="https://ec.europa.eu/info/index_en" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/8/84/European_Commission.svg" width="50"></a>

    ## Partners

    * **EFPIA companies**: AbbVie, Germany; AstraZeneca AB, United Kingdom; Eli Lilly & Co. Ltd, United Kingdom; Eisai, United States; Janssen Pharmaceutica NV, Belgium; H. Lundbeck A/S, Denmark; Orion Pharma, Finland; F. Hofmann La-Roche, Switzerland;  Sanofi-Aventis, France
    * **SMEs**: ARTTIC S.A.S., France; Axxam SpA, Italy; LIFE & BRAIN, Germany
    * **Universities and public research organisations**: Charité Universitätsmedizin Berlin, Germany; Fraunhofer-Institut St. Augustin, Germany; German Center of Neurodegenerative Diseases, Germany; King’s College London, United Kingdom; Universitätsklinikum Bonn, Germany; University College London, United Kingdom; University of Cambridge, United Kingdom; University of Gothenburg, Sweden

    ## Publications

    e(BE:L) RestAPI was already used in the following publication:

      1. [*A method for the rational selection of drug repurposing candidates from multimodal knowledge harmonization*](http://www.nature.com/articles/s41598-021-90296-2), Nature, 2021
      2. [*COVID-19 Knowledge Graph: a computable, multi-modal, cause-and-effect knowledge model of COVID-19 pathophysiology*](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7558629/) Bioinformatics. 2021 May 1; 37(9): 1332–1334.

tags:
  - name: BEL
  - name: e(BE:L)
  - name: e(BE:L) algorithm
  - name: BioGRID
    description: protein interactions
    externalDocs:
      url: https://thebiogrid.org/
  - name: ChEBI
    description: chemical entities of biological interest
    externalDocs:
      url: https://www.ebi.ac.uk/chebi/
  - name: ClinicalTrials.gov
    description: privately and publicly funded clinical studies
    externalDocs:
      url: https://clinicaltrials.gov/
  - name: ClinVar
    description: genomic variation and its relationship to human health
    externalDocs:
      url: https://www.ncbi.nlm.nih.gov/clinvar/      
  - name: DisGeNET
    description: genes and variants associated to human diseases
    externalDocs:
      url: https://www.disgenet.org/
  - name: Drugbank
    description: information on drugs and drug targets, only available if you have a valid licence
    externalDocs:
      url: https://go.drugbank.com/
  - name: Ensembl
    description: genomes of humans, vertebrates and model organisms
    externalDocs:
      url: http://www.ensembl.org/index.html
  - name: Expression Atlas
    description: gene expression across species and biological conditions
    externalDocs:
      url: https://www.ebi.ac.uk/gxa/home
  - name: GWAS Catalog
    description: catalog of human genome-wide association studies
    externalDocs:
      url: https://www.ebi.ac.uk/gwas/
  - name: HGNC
    description: resource for approved human gene nomenclature
    externalDocs:
      url: https://www.genenames.org/
  - name: IntAct
    description: molecular interaction data
    externalDocs:
      url: https://www.ebi.ac.uk/intact/
  - name: IUPHAR
    description: International Union of Basic & Clinical Pharmacology
    externalDocs:
      url: https://www.guidetopharmacology.org/
  - name: KEGG
    description: genomes, biological pathways, diseases, drugs, and chemical substances
    externalDocs:
      url: https://www.genome.jp/kegg/
  - name: miRTarBase
    description: experimentally validated microRNA-target interactions
    externalDocs:
      url: http://mirtarbase.cuhk.edu.cn/php/index.php
  - name: NCBI Gene
    description: Infos on genes from NCBI
    externalDocs:
      url: https://www.ncbi.nlm.nih.gov/gene
  - name: Offsides
    description: Drug side effects
    externalDocs:
      url: http://tatonettilab.org/offsides/
  - name: Pathway Commons 
    description: public pathway and interactions databases
    externalDocs:
      url: https://www.pathwaycommons.org/
  - name: Protein Atlas
    description: protein expression database
    externalDocs:
      url: https://www.proteinatlas.org/
  - name: Reactome
    description: biological pathways
    externalDocs:
      url: https://reactome.org/
  - name: STRING
    description: protein-protein interaction networks
    externalDocs:
      url: https://string-db.org/
  - name: UniProt
    description: cross-references and functional information on proteins
    externalDocs:
      url: https://www.uniprot.org/

paths:

  ########################################################################################################################
  # BioGRID
  ########################################################################################################################
  
  /api/v1/biogrid/by_biogrid_id:
    post:
      operationId: ebel.web.api.ebel.v1.biogrid.get_biogrid_by_biogrid_id_using_post
      tags:
        - BioGRID
      summary: Get BioGrid entry by BioGrid ID.
      description: Get BioGrid entry by BioGrid ID.
      requestBody:
        content:
          application/json:
            schema: # Request body contents
              type: object
              properties:
                biogrid_id:
                  type: integer
              example: # Sample object
                biogrid_id: 2658248
      responses:
        200:
          description: BioGrid entries
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object


  /api/v1/biogrid/experimental_systems:
    get:
      operationId: ebel.web.api.ebel.v1.biogrid.get_experimental_systems
      tags:
        - BioGRID
      summary: Distinct experimental systems
      description: "Returns distinct experimental systems."
      responses:
        '200':
          description: Return results
          content:
              application/json:
                schema:
                    type: array
                    items:
                        type: string


  /api/v1/biogrid/sources:
    get:
      operationId: ebel.web.api.ebel.v1.biogrid.get_sources
      tags:
        - BioGRID
      summary: Distinct database resouces
      description: "Returns distinct database resources."
      responses:
        '200':
          description: Return results
          content:
              application/json:
                schema:
                    type: array
                    items:
                        type: string

  /api/v1/biogrid/taxonomies:
    get:
      operationId: ebel.web.api.ebel.v1.biogrid.get_taxonomies
      tags:
        - BioGRID
      summary: Distinct NCBI taxonomy IDs and organism names.
      description: "Returns distinct database resources."
      responses:
        '200':
          description: Distinct NCBI taxonomy IDs and organism names.
          content:
              application/json:
                schema:
                    type: array
                    items:
                      type: object

  /api/v1/biogrid/modifications:
    get:
      operationId: ebel.web.api.ebel.v1.biogrid.get_modifications
      tags:
        - BioGRID
      summary: Distinct Modifications.
      description: "Returns distinct modifications."
      responses:
        '200':
          description: Distinct modifications.
          content:
              application/json:
                schema:
                    type: array
                    items:
                      type: string

  /api/v1/biogrid/by_biogrid_id/{biogrid_id}:
    get:
      operationId: ebel.web.api.ebel.v1.biogrid.get_biogrid_by_biogrid_id
      tags:
        - BioGRID
      summary: Get BioGrid entry by BioGrid ID.
      description: Get BioGrid entry by BioGrid ID.
      parameters:
        - name: biogrid_id
          in: path
          description: BioGRID ID
          required: true
          schema:
            type: integer
          example: 2658248
      responses:
        '200':
          description: Return results
          content:
              application/json:
                schema:
                    type: array
                    items:
                        type: number

  /api/v1/biogrid/by_pmid/{pmid}:
    get:
      operationId: ebel.web.api.ebel.v1.biogrid.get_biogrid_by_pmid
      tags:
        - BioGRID
      summary: Get BioGrid entry by PubMed Identifier.
      description: Get BioGrid entry by PubMed Identifier.
      parameters:
        - name: pmid
          in: path
          description: NCBI PubMed Identifier.
          required: true
          schema:
            type: integer
          example: 21685874
      responses:
        '200':
          description: Return results
          content:
              application/json:
                schema:
                    type: array
                    items:
                        type: number

  /api/v1/biogrid/interactor/by_symbol_starts_with:
    get:
      operationId: ebel.web.api.ebel.v1.biogrid.get_interactor_by_symbol_starts_with
      tags:
        - BioGRID
      summary: Search BioGrid Interactor by .
      description: Get BioGrid entry by PubMed Identifier.
      parameters:
        - name: symbol
          in: query
          required: true
          description: Gene symbol of interactor.
          schema:
            type: string
            example: trem
        - name: taxonomy_id
          in: query
          required: true
          description: NCBI taxonomy ID interactor A
          schema:
            type: integer
            default: 9606
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        '200':
          description: Return results
          content:
              application/json:
                schema:
                    type: array
                    items:
                        type: number

  /api/v1/biogrid:
    get:
      operationId: ebel.web.api.ebel.v1.biogrid.get_biogrid
      tags:
        - BioGRID
      summary: Get BioGRID by paramters. 
      description: |
        Get BioGRID protein-protein interactions.
        Note `id_type_b` and  `taxonomy_id_b` will be only considered if  `interactor_b` is set.
      parameters:
        - name: id_type_a
          in: query
          description: Interactor A identifier type
          schema:
            type: string
            enum: [symbol,uniprot,entrez,systematic_name,trembl,biogrid_id]
            default: symbol
        - name: interactor_a
          in: query
          description: Interactor A identifier. This value depends on `id_type_a` and `taxonomy_id_a`.
          schema:
            type: string
            example: MAPT
          examples:
            MAPT as symbol:
              value: MAPT
            Angiotensin-converting enzyme 2 as symbol:
              value: ACE2          
            CD33 as symbol:
              value: CD33
            CD33 as TrEMBL:
              value: Q546G0
            CD33 as UniProt:
              value: P20138
            CD33 as Entrez Gene:
              value: 945
            CD33 as BioGrid:
              value: 107383
        - name: taxonomy_id_a
          in: query
          description: NCBI taxonomy ID interactor A
          schema:
            type: integer
            default: 9606
          examples:
            Saccharomyces cerevisiae (S288c):
              value: 559292
            Homo sapiens:
              value: 9606
            Escherichia coli (K12/W3110):
              value: 316407
            Drosophila melanogaster:
              value: 7227
            Schizosaccharomyces pombe (972h):
              value: 284812
            Mus musculus:
              value: 10090
            Arabidopsis thaliana (Columbia):
              value: 3702
            Caenorhabditis elegans:
              value: 6239
            Severe acute respiratory syndrome coronavirus 2:
              value: 2697049
            Rattus norvegicus:
              value: 10116
            Plasmodium falciparum (3D7):
              value: 36329
            Escherichia coli (K12/MG1655):
              value: 511145
            Candida albicans (SC5314):
              value: 237561
            Xenopus laevis:
              value: 8355
            Human Immunodeficiency Virus 1:
              value: 11676
            Severe acute respiratory syndrome-related coronavirus:
              value: 694009
            Human Herpesvirus 8:
              value: 37296
            Human papillomavirus (6b):
              value: 10600
            Human papillomavirus (16):
              value: 333760
            Hepatitus C Virus:
              value: 11103
        - name: id_type_b
          in: query
          required: false
          description: Interactor B identifier type. This value is only considered if `interactor_b` is set.
          schema:
            type: string
            enum: [symbol,uniprot,entrez,systematic_name,trembl,biogrid_id]
            default: symbol
        - name: interactor_b
          in: query
          required: false
          description: Interactor B identifier. This value depends on `id_type_b` and `taxonomy_id_b`.
          schema:
            type: string
        - name: taxonomy_id_b
          in: query
          description: NCBI taxonomy ID interactor B. This value is only considered if `interactor_b` is set.
          schema:
            type: integer
            default: 9606
          examples:
            Saccharomyces cerevisiae (S288c):
              value: 559292
            Homo sapiens:
              value: 9606
            Escherichia coli (K12/W3110):
              value: 316407
            Drosophila melanogaster:
              value: 7227
            Schizosaccharomyces pombe (972h):
              value: 284812
            Mus musculus:
              value: 10090
            Arabidopsis thaliana (Columbia):
              value: 3702
            Caenorhabditis elegans:
              value: 6239
            Severe acute respiratory syndrome coronavirus 2:
              value: 2697049
            Rattus norvegicus:
              value: 10116
            Plasmodium falciparum (3D7):
              value: 36329
            Escherichia coli (K12/MG1655):
              value: 511145
            Candida albicans (SC5314):
              value: 237561
            Xenopus laevis:
              value: 8355
            Human Immunodeficiency Virus 1:
              value: 11676
            Severe acute respiratory syndrome-related coronavirus:
              value: 694009
            Human Herpesvirus 8:
              value: 37296
            Human papillomavirus (6b):
              value: 10600
            Human papillomavirus (16):
              value: 333760
            Hepatitus C Virus:
              value: 11103            
        - name: source
          description: Source of interaction. Please check `sources` method for all available sources.
          in: query
          schema:
            type: string
        - name: experimental_system
          description: Experimental system used to identify the interaction. Please check `experimental_systems` method for all available sources.
          in: query
          schema:
            type: string
        - name: modification
          description: Modification linked to interaction. Please check `modifications` method for all available modifications.
          in: query
          schema:
            type: string
          examples:
            Phosphorylation:
              value: Phosphorylation
            Ubiquitination:
              value: Ubiquitination
            Acetylation:
              value: Acetylation
            Deubiquitination:
              value: Deubiquitination
            Proteolytic Processing:
              value: Proteolytic Processing
            Methylation:
              value: Methylation
            Sumoylation:
              value: Sumoylation
            Dephosphorylation:
              value: Dephosphorylation
            Deacetylation:
              value: Deacetylation
            Nedd(Rub1)ylation:
              value: Nedd(Rub1)ylation
            Ribosylation:
              value: Ribosylation
            Desumoylation:
              value: Desumoylation
            Demethylation:
              value: Demethylation
            Deneddylation:
              value: Deneddylation
            Prenylation:
              value: Prenylation
            Glycosylation:
              value: Glycosylation
            Neddylation:
              value: Neddylation
            de-ISGylation:
              value: de-ISGylation
            FAT10ylation:
              value: FAT10ylation
        - name: interaction_directed
          in: query
          description: If `false` (recommended), method will consider both direction of interaction. `true` makes only sense if a modification is selected.
          schema:
            type: boolean
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        '200':
          description: Return results
          content:
              application/json:
                schema:
                    type: array
                    items:
                        type: number
                        
  /api/v1/biogrid/:
    post:
      operationId: ebel.web.api.ebel.v1.biogrid.get_biogrid_using_post
      tags:
        - BioGRID
      summary: Get BioGRID
      description: |
        Following parameters can be used:
          * biogrid_a_id (int)
          * biogrid_b_id (int)
          * biogrid_id (int)
          * experimental_system_id (int)
          * throughput_id (int)
          * score	(int)
          * modification_id	(int)
          * source_id	(int)
          * publication_id (int)
          * page (int)
          * page_size (int)
      requestBody:
        content:
          application/json:
            schema: # Request body contents
              type: object
              properties:
                biogrid_a_id:
                  type: integer
                biogrid_b_id:
                  type: integer
                biogrid_id:
                  type: integer
                experimental_system_id:
                  type: integer
                throughput_id:
                  type: integer
                score:
                  type: integer
                modification_id: 
                  type: integer
                source_id:
                  type: integer
                publication_id:
                  type: integer
                page_size:
                  type: integer
                page:
                  type: integer
            examples:
              "Specific example":
                value:
                  biogrid_a_id: 107455
                  biogrid_b_id: 110308
                  biogrid_id: 721823
                  experimental_system_id: 12
                  throughput_id: 2
                  modification_id: 1
                  source_id: 1
                  publication_id: 6240
              "Experimental System (id=2) with page and page_size":
                value:
                  experimental_system_id: 2
                  page: 2
                  page_size: 3
      responses:
        200:
          description: List of Gene IDs by Ensembl
          content:
            application/json:
              schema:
                type: object

  /api/v1/ebel/biogrid/modification/by_uniprot:
    get:
      operationId: ebel.web.api.ebel.v1.biogrid.get_has_ppi_bg_by_uniprot
      tags:
        - BioGRID
        - e(BE:L)
      summary: Get e(BE:L) has_ppi_bg by subject (and object) UniProt ID
      description: |
        Following parameters can be used:
          * uniprot_a(string)
          * uniprot_b (string)
          * page_size (int)
          * page (int)
      parameters:
        - name: uniprot
          in: query
          description: UniProt accession number
          required: true
          schema:
            type: string
            example: P10636
          examples:
            Microtubule-associated protein tau (MAPT):
              value: P10636
            Leucine-rich repeat serine/threonine-protein kinase 2 (LRRK2):
              value: Q5S007
        - name: modification
          in: query
          description: Posttranslational modification of interactor B by A
          schema:
            type: string
            enum: ['Phosphorylation', 'Ubiquitination', 'Acetylation', 'Deubiquitination', 'Proteolytic Processing', 'Methylation', 'Sumoylation', 'Dephosphorylation', 'Deacetylation', 'Nedd(Rub1)ylation', 'Ribosylation', 'Desumoylation', 'Demethylation', 'Deneddylation', 'Prenylation', 'Glycosylation', 'Neddylation', 'de-ISGylation', 'FAT10ylation']
      responses:
        200:
          description: List of Gene IDs by Ensembl
          content:
            application/json:
              schema:
                type: object

  /api/v1/ebel/biogrid/modification/by_symbol_taxid:
    get:
      operationId: ebel.web.api.ebel.v1.biogrid.get_has_ppi_bg_by_symbol_taxid
      tags:
        - BioGRID
        - e(BE:L)
      summary: Get e(BE:L) has_ppi_bg by subject (and object) gene symbol and taxonomy ID
      parameters:
        - name: symbol
          in: query
          required: true
          description: Gene symbol
          schema:
            type: string
            example: MAPT
        - name: taxonomy_id
          in: query
          description: NCBI taxonomy ID
          schema:
            type: integer
            example: 9606
            default: 9606
        - name: modification
          in: query
          description: Posttranslational modification of interactor B by A
          schema:
            type: string
            enum: ['Phosphorylation', 'Ubiquitination', 'Acetylation', 'Deubiquitination', 'Proteolytic Processing', 'Methylation', 'Sumoylation', 'Dephosphorylation', 'Deacetylation', 'Nedd(Rub1)ylation', 'Ribosylation', 'Desumoylation', 'Demethylation', 'Deneddylation', 'Prenylation', 'Glycosylation', 'Neddylation', 'de-ISGylation', 'FAT10ylation']
      responses:
        200:
          description: List of Gene IDs by Ensembl
          content:
            application/json:
              schema:
                type: object

  ########################################################################################################################
  # CHEBI
  ########################################################################################################################

  /api/v1/chebi/ebel/nodes:
    get:
      operationId: ebel.web.api.ebel.v1.chebi.get_bel_chebi_ids
      tags:
        - ChEBI
        - e(BE:L)
      summary: Get ChEBI nodes in e(BE:L) knowledge graph
      description: Get ChEBI IDs in e(BE:L)
      parameters:
        - name: name
          in: query
          description: BEL name
          schema:
            type: string
            example: ATP
        - name: namespace
          in: query
          description: BEL namespace
          schema:
            type: string
            example: CHEBI
        - name: chebi
          in: query
          description: CHEBI identifer
          schema:
            type: integer
            example: 15422
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1       
      responses:
        200:
          description: List of Gene IDs by Ensembl
          content:
            application/json:
              schema:
                type: object

  /api/v1/chebi/compound/by_name:
    get:
      operationId: ebel.web.api.ebel.v1.chebi.get_compound_by_name
      tags:
        - ChEBI
      summary: Get ChEBI compound by name
      description: Get ChEBI compound by name
      parameters:
        - name: name
          in: query
          description: Compound name
          schema:
            type: string
            example: donepezil
      responses:
        200:
          description: List of Gene IDs by Ensembl
          content:
            application/json:
              schema:
                type: object

  /api/v1/chebi/compound_name/by_name_starts_with:
    get:
      operationId: ebel.web.api.ebel.v1.chebi.get_compound_name_by_name_starts_with
      tags:
        - ChEBI
      summary: Get ChEBI compound by name
      description: Get ChEBI compound by name
      parameters:
        - name: name
          in: query
          required: true
          description: Compound name
          schema:
            type: string
            example: don
      responses:
        200:
          description: List of Gene IDs by Ensembl
          content:
            application/json:
              schema:
                type: object

  /api/v1/chebi/compound/by_id:
    get:
      operationId: ebel.web.api.ebel.v1.chebi.get_compound_by_id
      tags:
        - ChEBI
      summary: Get ChEBI compound by ChEBI ID
      description: Get ChEBI compound by ChEBI ID
      parameters:
        - name: id
          in: query
          description: Compound ChEBI ID
          schema:
            type: integer
            example: 53289
      responses:
        200:
          description: List of Gene IDs by Ensembl
          content:
            application/json:
              schema:
                type: object

  /api/v1/chebi/relation:
    get:
      operationId: ebel.web.api.ebel.v1.chebi.get_relation
      tags:
        - ChEBI
        - e(BE:L)
      summary: Get ChEBI relation
      description: Get ChEBI relation
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [is_a,has_functional_parent,has_role,is_conjugate_base_of,is_conjugate_acid_of,has_part,is_tautomer_of,has_parent_hydride,is_enantiomer_of,is_substituent_group_from]     
        - name: status
          in: query
          schema:
            type: string
            enum: [C,E,S]     
        - name: final_id
          in: query
          schema:
            type: integer
            example: 53289
        - name: init_id
          in: query
          schema:
            type: integer        
      responses:
        200:
          description: List of Gene IDs by Ensembl
          content:
            application/json:
              schema:
                type: object

  /api/v1/chebi/compound_reference:
    get:
      operationId: ebel.web.api.ebel.v1.chebi.get_compound_reference
      tags:
        - ChEBI
      summary: Get ChEBI compound reference (like patents)
      description: Get ChEBI compound reference
      parameters:
        - name: reference_id
          in: query
          schema:
            type: string
            example: US2006025345
        - name: reference_db_name
          in: query
          schema:
            type: string
            example: Patent
          examples:
            ACToR:
              value: ACToR
            ArrayExpress:
              value: ArrayExpress
            ArrayExpressAtlas:
              value: ArrayExpressAtlas
            BindingDB:
              value: BindingDB
            BioModels:
              value: BioModels
            BKMS-react:
              value: BKMS-react
            BRENDA:
              value: BRENDA
            BRENDALigand:
              value: BRENDALigand
            CarotenoidsDatabase:
              value: CarotenoidsDatabase
            ChEMBL:
              value: ChEMBL
            CompTox:
              value: CompTox
            EnzymePortal:
              value: EnzymePortal
            GeneOntology:
              value: GeneOntology
            Golm:
              value: Golm
            IEDB:
              value: IEDB
            IntAct:
              value: IntAct
            IntEnz:
              value: IntEnz
            MassBank:
              value: MassBank
            MetaboLights:
              value: MetaboLights
            NMRShiftDB:
              value: NMRShiftDB
            NURSA:
              value: NURSA
            Patent:
              value: Patent
            PDB:
              value: PDB
            PubChem:
              value: PubChem
            Reactome:
              value: Reactome
            Rhea:
              value: Rhea
            SABIO-RK:
              value: SABIO-RK
            SureChEMBL:
              value: SureChEMBL
            SwissLipids:
              value: SwissLipids
            UniProt:
              value: UniProt
            VirtualMetabolicHuman:
              value: VirtualMetabolicHuman            
        - name: location_in_ref
          in: query
          schema:
            type: string
        - name: reference_name
          in: query
          schema:
            type: string
            example: Substituted ethane-1,2-diamines for the treatment of Alzheimer's disease
        - name: compound_id
          in: query
          description: ChEBI compound ID
          schema:
            type: integer
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1            
      responses:
        200:
          description: List of Gene IDs by Ensembl
          content:
            application/json:
              schema:
                type: object

  /api/v1/chebi/compound/by_other_db_accession:
    get:
      operationId: ebel.web.api.ebel.v1.chebi.get_compound_by_other_db_accession
      tags:
        - ChEBI
      summary: Get ChEBI compound by other database accession number
      description: Get ChEBI compound by other database accession number
      parameters:
        - name: db_name
          in: query
          description: Database name
          schema:
            type: string
            example: DrugBank accession
          examples:
            Agricola citation:
              value: Agricola citation
            Beilstein Registry Number:
              value: Beilstein Registry Number
            BPDB:
              value: BPDB accession
            CAS Registry Number:
              value: CAS Registry Number
            ChemIDplus:
              value: ChemIDplus accession
            Chemspider:
              value: Chemspider accession
            Chinese Abstracts citation:
              value: Chinese Abstracts citation
            CiteXplore citation:
              value: CiteXplore citation
            COMe:
              value: COMe accession
            Drug Central:
              value: Drug Central accession
            DrugBank:
              value: DrugBank accession
            ECMDB:
              value: ECMDB accession
            FAO/WHO standards:
              value: FAO/WHO standards accession
            FooDB:
              value: FooDB accession
            GlyGen:
              value: GlyGen accession
            GlyTouCan:
              value: GlyTouCan accession
            Gmelin Registry Number:
              value: Gmelin Registry Number
            HMDB:
              value: HMDB accession
            KEGG COMPOUND:
              value: KEGG COMPOUND accession
            KEGG DRUG:
              value: KEGG DRUG accession
            KEGG GLYCAN:
              value: KEGG GLYCAN accession
            KNApSAcK:
              value: KNApSAcK accession
            LINCS:
              value: LINCS accession
            LIPID MAPS class:
              value: LIPID MAPS class accession
            LIPID MAPS instance:
              value: LIPID MAPS instance accession
            MetaCyc:
              value: MetaCyc accession
            MolBase:
              value: MolBase accession
            Patent:
              value: Patent accession
            PDB:
              value: PDB accession
            PDBeChem:
              value: PDBeChem accession
            Pesticides:
              value: Pesticides accession
            PPDB:
              value: PPDB accession
            PPR:
              value: PPR
            Pubchem:
              value: Pubchem accession
            PubMed Central citation:
              value: PubMed Central citation
            PubMed citation:
              value: PubMed citation
            Reaxys Registry Number:
              value: Reaxys Registry Number
            RESID:
              value: RESID accession
            SMID:
              value: SMID accession
            UM-BBD compID:
              value: UM-BBD compID
            VSDB:
              value: VSDB accession
            WebElements:
              value: WebElements accession
            Wikipedia:
              value: Wikipedia accession
            YMDB:
              value: YMDB accession         
        - name: accession_number
          in: query
          required: true
          description: Accession number/name
          schema:
            type: string
            example: DB00843
      responses:
        200:
          description: List of Gene IDs by Ensembl
          content:
            application/json:
              schema:
                type: object       
                


  ########################################################################################################################
  # ClinicalTrials.gov
  ########################################################################################################################

  /api/v1/clinical_trial/mesh_term/starts_with:
    get:
      operationId: ebel.web.api.ebel.v1.clinical_trials_gov.get_mesh_term_starts_with
      tags:
        - ClinicalTrials.gov
      summary: Search MeSH term starts with search_term
      description: Search MeSH term starts with search_term
      parameters:
        - name: mesh_term
          in: query
          required: true
          schema:
            type: string
            example: alz
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        '200':
          description: Return results
          content:
              application/json:
                schema:
                    type: array
                    items:
                        type: number

  /api/v1/clinical_trial/condition/starts_with:
    get:
      operationId: ebel.web.api.ebel.v1.clinical_trials_gov.get_condition_starts_with
      tags:
        - ClinicalTrials.gov
      summary: Search condition starts with search_term
      description: Search condition starts with search_term
      parameters:
        - name: condition
          in: query
          required: true
          schema:
            type: string
            example: alz
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        '200':
          description: Return results
          content:
              application/json:
                schema:
                    type: array
                    items:
                        type: number

  /api/v1/clinical_trial/keyword/starts_with:
    get:
      operationId: ebel.web.api.ebel.v1.clinical_trials_gov.get_keyword_starts_with
      tags:
        - ClinicalTrials.gov
      summary: Search keyword starts with search_term
      description: Search keyword starts with search_term
      parameters:
        - name: keyword
          in: query
          required: true
          schema:
            type: string
            example: alz
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        '200':
          description: Return results
          content:
              application/json:
                schema:
                    type: array
                    items:
                        type: number

  /api/v1/clinical_trial/by_mesh_term:
    get:
      operationId: ebel.web.api.ebel.v1.clinical_trials_gov.get_ct_by_mesh_term
      tags:
        - ClinicalTrials.gov
      summary: Get clinical trials by MeSH term 
      description: Get clinical trials by MeSH term 
      parameters:
        - name: mesh_term
          in: query
          description: MeSH term  (use % as wildcard)
          schema:
            type: string
            example: Alzheimer Disease
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        200:
          description: List of Gene IDs by Ensembl
          content:
            application/json:
              schema:
                type: object

  /api/v1/clinical_trial/by_intervention:
    get:
      operationId: ebel.web.api.ebel.v1.clinical_trials_gov.get_ct_by_intervention
      tags:
        - ClinicalTrials.gov
      summary: Get clinical trials by intervention 
      description: Get clinical trials by intervention 
      parameters:
        - name: intervention_name
          in: query
          description: Intervention name (use % as wildcard)
          schema:
            type: string
            example: Donepezil
        - name: intervention_type
          in: query
          description: Intervention type
          schema:
            type: string
            example: Drug
          examples:
            Behavioral:
              value: Behavioral
            Biological:
              value: Biological
            Combination Product:
              value: Combination Product
            Device:
              value: Device
            Diagnostic Test:
              value: Diagnostic Test
            Dietary Supplement:
              value: Dietary Supplement
            Drug:
              value: Drug
            Genetic:
              value: Genetic
            Other:
              value: Other
            Procedure:
              value: Procedure
            Radiation:
              value: Radiation
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        200:
          description: List of Gene IDs by Ensembl
          content:
            application/json:
              schema:
                type: object

  /api/v1/clinical_trial/by_keyword:
    get:
      operationId: ebel.web.api.ebel.v1.clinical_trials_gov.get_ct_by_keyword
      tags:
        - ClinicalTrials.gov
      summary: Get clinical trials by MeSH term 
      description: Get clinical trials by MeSH term 
      parameters:
        - name: keyword
          in: query
          description: keyword  (use % as wildcard)
          schema:
            type: string
            example: Early Alzheimer
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        200:
          description: List of Gene IDs by Ensembl
          content:
            application/json:
              schema:
                type: object

  /api/v1/clinical_trial/by_condition:
    get:
      operationId: ebel.web.api.ebel.v1.clinical_trials_gov.get_ct_by_condition
      tags:
        - ClinicalTrials.gov
      summary: Get clinical trials by condition 
      description: Get clinical trials by condition
      parameters:
        - name: condition
          in: query
          description: Condition (use % as wildcard)
          schema:
            type: string
            example: Mild to Severe Alzheimer's Disease
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        200:
          description: List of Gene IDs by Ensembl
          content:
            application/json:
              schema:
                type: object

  /api/v1/clinical_trial/by_nct_id:
    get:
      operationId: ebel.web.api.ebel.v1.clinical_trials_gov.get_ct_by_nct_id
      tags:
        - ClinicalTrials.gov
      summary: Get Clinical trials by NCT ID
      description: Get Clinical trials by NCT ID
      parameters:
        - name: nct_id
          in: query
          required: true
          schema:
            type: string
            example: NCT00571064
      responses:
        200:
          description: List of Clinical Trials
          content:
            application/json:
              schema:
                type: object

  ########################################################################################################################
  # ClinVar
  ########################################################################################################################

  /api/v1/clinvar:
    get:
      operationId: ebel.web.api.ebel.v1.clinvar.get_clinvar
      tags:
        - ClinVar
      summary: Get ClinVar
      description: Get ClinVar
      parameters:
        - name: allele_id
          in: query
          schema:
            type: string
            example: 705202
        - name: type
          in: query
          schema:
            type: string
            example: single nucleotide variant
        - name: name
          in: query
          schema:
            type: string
            example: NM_001772.4(CD33):c.131T>C (p.Phe44Ser)
        - name: gene_id
          in: query
          schema:
            type: string
            example: 945
        - name: gene_symbol
          in: query
          schema:
            type: string
            example: CD33
        - name: hgnc_id
          in: query
          schema:
            type: string
            example: HGNC:1659
        - name: clinical_significance
          in: query
          schema:
            type: string
            example: Benign
        - name: clin_sig_simple
          in: query
          schema:
            type: string
            example: 0
        - name: last_evaluated
          in: query
          schema:
            type: string
            example: Jul 16, 2018
        - name: rs_db_snp
          in: query
          schema:
            type: string
            example: 61736469
        - name: nsv_esv_db_var
          in: query
          schema:
            type: string
        - name: rcvaccession
          in: query
          schema:
            type: string
            example: RCV000957991
        - name: origin
          in: query
          schema:
            type: string
            example: germline
        - name: origin_simple
          in: query
          schema:
            type: string
            example: germline
        - name: assembly
          in: query
          schema:
            type: string
            example: GRCh37
        - name: chromosome_accession
          in: query
          schema:
            type: string
            example: NC_000019.9
        - name: chromosome
          in: query
          schema:
            type: string
            example: 19
        - name: start
          in: query
          schema:
            type: string
            example: 51728567
        - name: stop
          in: query
          schema:
            type: string
            example: 51728567
        - name: reference_allele
          in: query
          schema:
            type: string
            example: na
        - name: alternate_allele
          in: query
          schema:
            type: string
            example: na
        - name: cytogenetic
          in: query
          schema:
            type: string
            example: 19q13.41
        - name: review_status
          in: query
          schema:
            type: string
            example: criteria provided, single submitter
        - name: number_submitters
          in: query
          schema:
            type: string
            example: 1
        - name: guidelines
          in: query
          schema:
            type: string
        - name: tested_in_gtr
          in: query
          schema:
            type: string
            example: N
        - name: submitter_categories
          in: query
          schema:
            type: string
            example: 2
        - name: variation_id
          in: query
          schema:
            type: string
            example: 777507
        - name: position_vcf
          in: query
          schema:
            type: string
            example: 51728567
        - name: reference_allele_vcf
          in: query
          schema:
            type: string
            example: T
        - name: alternate_allele_vcf
          in: query
          schema:
            type: string
            example: C
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1            
      responses:
        200:
          description: List of ClinVar entries
          content:
            application/json:
              schema:
                type: object

  /api/v1/clinvar/simple:
    get:
      operationId: ebel.web.api.ebel.v1.clinvar.get_clinvar_simple
      tags:
        - ClinVar
      summary: Get ClinVar
      description: Get ClinVar
      parameters:
        - name: phenotype
          in: query
          schema:
            type: string
            example: Alzheimer disease 2
        - name: gene_id
          in: query
          schema:
            type: integer
        - name: gene_symbol
          in: query
          schema:
            type: string
        - name: hgnc_id
          in: query
          schema:
            type: string
        - name: allele_id
          in: query
          schema:
            type: integer
        - name: assembly
          in: query
          schema:
            type: string
            example: GRCh38
          examples:
            GRCh38:
              value: GRCh38
            GRCh37:
              value: GRCh37
        - name: rs_db_snp
          in: query
          schema:
            type: string
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1            
      responses:
        200:
          description: List of ClinVar entries
          content:
            application/json:
              schema:
                type: object


  /api/v1/clinvar/phenotype/starts_with:
    get:
      operationId: ebel.web.api.ebel.v1.clinvar.get_phenotype_starts_with
      tags:
        - ClinVar
      summary: Search phenotypes starts with
      description: Search phenotypes starts with
      parameters:
        - name: phenotype
          in: query
          required: true
          schema:
            type: string
            example: alz
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        200:
          description: List of ClinVar entries
          content:
            application/json:
              schema:
                type: object

  /api/v1/clinvar/phenotype/by_other_identifier:
    get:
      operationId: ebel.web.api.ebel.v1.clinvar.get_by_other_identifier
      tags:
        - ClinVar
      summary: Search clinvar by other identifier
      description: Search clinvar by other identifier
      parameters:
        - name: db
          in: query
          required: true
          schema:
            type: string
            example: OMIM
          examples:
            British Heart Foundation:
              value: British Heart Foundation
            BRCA1-HCI:
              value: BRCA1-HCI
            Breast Cancer Information Core (BIC) (BRCA1):
              value: Breast Cancer Information Core (BIC) (BRCA1)
            Breast Cancer Information Core (BIC) (BRCA2):
              value: Breast Cancer Information Core (BIC) (BRCA2)
            BTK @ LOVD:
              value: BTK @ LOVD
            ClinGen:
              value: ClinGen
            ClinVar:
              value: ClinVar
            COL7A1 database:
              value: COL7A1 database
            COSMIC:
              value: COSMIC
            dbRBC:
              value: dbRBC
            dbVar:
              value: dbVar
            GUCY2C database:
              value: GUCY2C database
            HBVAR:
              value: HBVAR
            LDLR-LOVD:
              value: LDLR-LOVD
            Leiden Muscular Dystrophy (CAV3):
              value: Leiden Muscular Dystrophy (CAV3)
            Leiden Muscular Dystrophy (CHRND):
              value: Leiden Muscular Dystrophy (CHRND)
            Leiden Muscular Dystrophy (CHRNE):
              value: Leiden Muscular Dystrophy (CHRNE)
            Leiden Muscular Dystrophy (DAG1):
              value: Leiden Muscular Dystrophy (DAG1)
            Leiden Muscular Dystrophy (DPM3):
              value: Leiden Muscular Dystrophy (DPM3)
            Leiden Muscular Dystrophy (MYL2):
              value: Leiden Muscular Dystrophy (MYL2)
            Leiden Muscular Dystrophy (MYL3):
              value: Leiden Muscular Dystrophy (MYL3)
            Leiden Muscular Dystrophy (MYOZ2):
              value: Leiden Muscular Dystrophy (MYOZ2)
            Leiden Muscular Dystrophy (MYPN):
              value: Leiden Muscular Dystrophy (MYPN)
            Leiden Muscular Dystrophy (PDLIM3):
              value: Leiden Muscular Dystrophy (PDLIM3)
            Leiden Muscular Dystrophy (TNNT1):
              value: Leiden Muscular Dystrophy (TNNT1)
            Leiden Muscular Dystrophy (TNNT3):
              value: Leiden Muscular Dystrophy (TNNT3)
            Leiden Muscular Dystrophy (TPM1):
              value: Leiden Muscular Dystrophy (TPM1)
            LOVD 3:
              value: LOVD 3
            MSeqDR:
              value: MSeqDR
            MYBPC3 homepage - Leiden Muscular Dystrophy pages:
              value: MYBPC3 homepage - Leiden Muscular Dystrophy pages
            NAA10 @ LOVD:
              value: NAA10 @ LOVD
            OMIM:
              value: OMIM
            PALB2 database:
              value: PALB2 database
            PharmGKB Clinical Annotation:
              value: PharmGKB Clinical Annotation
            PMS2 @ LOVD:
              value: PMS2 @ LOVD
            RettBASE (CDKL5):
              value: RettBASE (CDKL5)
            SLC29A3 @ LOVD:
              value: SLC29A3 @ LOVD
            Tuberous sclerosis database (TSC1):
              value: Tuberous sclerosis database (TSC1)
            Tuberous sclerosis database (TSC2):
              value: Tuberous sclerosis database (TSC2)
            UniProtKB:
              value: UniProtKB
            UniProtKB/Swiss-Prot:
              value: UniProtKB/Swiss-Prot                        
        - name: identifier
          in: query
          required: true
          schema:
            type: string
            example: 613653.%
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        200:
          description: List of ClinVar entries
          content:
            application/json:
              schema:
                type: object

  /api/v1/clinvar/phenotype/by_medgen:
    get:
      operationId: ebel.web.api.ebel.v1.clinvar.get_by_medgen
      tags:
        - ClinVar
      summary: Search clinvar by medgen
      description: Search clinvar by medgen
      parameters:
        - name: identifier
          in: query
          required: true
          schema:
            type: string
            example: C0002395
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        200:
          description: List of ClinVar entries
          content:
            application/json:
              schema:
                type: object

  /api/v1/clinvar/ebel/relation:
    get:
      operationId: ebel.web.api.ebel.v1.clinvar.get_ebel_relation
      tags:
        - ClinVar
        - e(BE:L)
      summary: Search clinvar by e(BE:L) relation
      description: Search clinvar by e(BE:L) relation
      parameters:
        - name: namespace
          in: query
          schema:
            type: string
            example: HGNC
        - name: name
          in: query
          description: Gene symbol
          schema:
            type: string
            example: PSEN1
        - name: phenotype
          in: query
          schema:
            type: string
            example: Alzheimer disease, type 3 
        - name: clinical_significance 
          in: query
          schema:
            type: string
            example: Pathogenic
        - name: relation_type
          in: query
          schema:
            type: string
            enum:
              - has_downstream_snp_cv
              - has_mapped_snp_cv
              - has_snp_clinvar
              - has_upstream_snp_cv
            example: has_snp_clinvar
        - name: keyword
          in: query
          schema:
            type: string
            example: Alzheimer
        - name: rs_number
          in: query
          schema:
            type: string
            example: rs63750526
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        200:
          description: List of ClinVar entries
          content:
            application/json:
              schema:
                type: object                

  ########################################################################################################################
  # DisGeNET
  ########################################################################################################################

  /api/v1/disgenet/ebel:
    get:
      operationId: ebel.web.api.ebel.v1.disgenet.get_ebel_has_snp_disgenet
      tags:
        - DisGeNET
        - e(BE:L)
      summary: Get SNP-gene relation from e(BE:L) knowledge graph
      description: Get SNP-gene relation from e(BE:L) knowledge graph
      parameters:
        - name: relation
          in: query
          schema:
            type: string
            enum:
              - has_dgn_snp
              - has_downstream_snp_dgn
              - has_mapped_snp_dgn
              - has_upstream_snp_dgn
            example: has_dgn_snp
        - name: disease_name
          in: query
          schema:
            type: string
            example: Alzheimer's Disease
        - name: rs_number
          in: query
          schema:
            type: string
            example: rs10408847
        - name: pmid
          in: query
          schema:
            type: integer
            example: 29777097
        - name: source
          in: query
          schema:
            type: string
            example: GWASCAT
          examples:
            GWASCAT:
              value: GWASCAT
            GWASDB:
              value: GWASDB
            UNIPROT:
              value: GWASDB
            CLINVAR:
              value: CLINVAR
        - name: name
          description: Gene symbol
          in: query
          schema:
            type: string
            example: MARK4 
        - name: namespace
          description: Gene symbol namespace
          in: query
          schema:
            type: string
            example: HGNC
        - name: page_size
          in: query
          description: Results per page
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        200:
          description: List of DisGeNET entries
          content:
            application/json:
              schema:
                type: object  

  /api/v1/disgenet/sources:
    get:
      operationId: ebel.web.api.ebel.v1.disgenet.get_sources
      tags:
        - DisGeNET
      summary: Get all available sources
      description: Get all available sources
      responses:
        200:
          description: List of DisGeNET entries
          content:
            application/json:
              schema:
                type: object

  /api/v1/disgenet/disease_name/starts_with:
    get:
      operationId: ebel.web.api.ebel.v1.disgenet.get_disease_name_starts_with
      tags:
        - DisGeNET
      summary: Search disease names starts with
      description: Search MeSH term starts with
      parameters:
        - name: disease_name
          in: query
          required: true
          schema:
            type: string
            example: alz
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        '200':
          description: Return results
          content:
              application/json:
                schema:
                    type: array
                    items:
                        type: number

  /api/v1/disgenet/gene_symbol/starts_with:
    get:
      operationId: ebel.web.api.ebel.v1.disgenet.get_gene_symbol_starts_with
      tags:
        - DisGeNET
      summary: Search gene symbol starts with
      description: Search gene symbol starts with
      parameters:
        - name: gene_symbol
          in: query
          required: true
          schema:
            type: string
            example: CD
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        '200':
          description: Return results
          content:
              application/json:
                schema:
                    type: array
                    items:
                        type: number

  /api/v1/disgenet/gene_disease_pmid_associations:
    get:
      operationId: ebel.web.api.ebel.v1.disgenet.get_gene_disease_pmid_associations
      tags:
        - DisGeNET
      summary: Get Gene-Disease-PubMed associations
      description: Get Gene-Disease-PubMed associations
      parameters:
        - name: gene_id
          in: query
          schema:
            type: integer
            example: 945
        - name: gene_symbol
          description: Gene symbol  (use % as wildcard)
          in: query
          schema:
            type: string
            example: CD33
          examples:
            CD33:
              value: CD33
            TREM2:
              value: TREM2
            MAPT:
              value: MAPT
        - name: disease_id
          in: query
          schema:
            type: string
            example: C0023418
        - name: disease_name
          description: Disease name  (use % as wildcard)
          in: query
          schema:
            type: string
            example: leukemia
        - name: pmid
          in: query
          schema:
            type: integer
            example: 15388576
        - name: source
          description: Source  (use % as wildcard)
          in: query
          schema:
            type: string
            example: LHGDN
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        200:
          description: List of DisGeNET entries
          content:
            application/json:
              schema:
                type: object

  /api/v1/disgenet/variant_disease_pmid_associations:
    get:
      operationId: ebel.web.api.ebel.v1.disgenet.get_variant_disease_pmid_associations
      tags:
        - DisGeNET
      summary: Get variant_disease_pmid_associations
      description: Get Variant-Disease-PMID associations
      parameters:
        - name: snp_id
          in: query
          schema:
            type: string
            example: rs1001179
        - name: chromosome
          in: query
          schema:
            type: string
            example: 11
        - name: position
          in: query
          schema:
            type: integer
            example: 34438684
        - name: disease_id
          in: query
          schema:
            type: string
            example: C0002395
        - name: disease_name
          description: Disease name  (use % as wildcard)
          in: query
          schema:
            type: string
            example: Alzheimer's Disease
        - name: pmid
          in: query
          schema:
            type: integer
            example: 18248894
        - name: source
          description: Source  (use % as wildcard)
          in: query
          schema:
            type: string
            example: BEFREE
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        200:
          description: List of DisGeNET entries
          content:
            application/json:
              schema:
                type: object

  ########################################################################################################################
  # Drugbank
  ########################################################################################################################

  
  /api/v1/drugbank/by_id:
    get:
      operationId: ebel.web.api.ebel.v1.drugbank.get_by_id
      tags:
        - Drugbank
      summary: Drug by DrugBank identifier
      description: Drug by DrugBank identifier
      parameters:
        - name: drugbank_id
          in: query
          schema:
            type: string
            example: DB00001
      responses:
        200:
          description: BEL statements
          content:
            application/json:
              schema:
                type: object

  /api/v1/drugbank/interaction:
    get:
      operationId: ebel.web.api.ebel.v1.drugbank.get_interaction
      tags:
        - Drugbank
      summary: DrugBank interaction
      description: DrugBank interaction
      parameters:
        - name: drugbank_id
          in: query
          schema:
            type: string
            example: DB06605
        - name: name
          in: query
          schema:
            type: string
            example: Apixaban
        - name: description
          in: query
          schema:
            type: string
            example: "%hemorrhage%"
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        200:
          description: BEL statements
          content:
            application/json:
              schema:
                type: object

  /api/v1/drugbank/product_name:
    get:
      operationId: ebel.web.api.ebel.v1.drugbank.get_product_name
      tags:
        - Drugbank
      summary: DrugBank product name
      description: DrugBank product name
      parameters:
        - name: drugbank_id
          in: query
          schema:
            type: string
            example: DB00114
        - name: name
          in: query
          schema:
            type: string
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1            
      responses:
        200:
          description: BEL statements
          content:
            application/json:
              schema:
                type: object  

  /api/v1/drugbank/synonym:
    get:
      operationId: ebel.web.api.ebel.v1.drugbank.get_synonym
      tags:
        - Drugbank
      summary: DrugBank synonym
      description: DrugBank synonym
      parameters:
        - name: drugbank_id
          in: query
          schema:
            type: string
            example: DB00001
        - name: synonym
          in: query
          schema:
            type: string
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1            
      responses:
        200:
          description: BEL statements
          content:
            application/json:
              schema:
                type: object                 

  /api/v1/drugbank/external_identifier:
    get:
      operationId: ebel.web.api.ebel.v1.drugbank.get_external_identifier
      tags:
        - Drugbank
      summary: DrugBank external identifier
      description: DrugBank external identifier
      parameters:
        - name: drugbank_id
          in: query
          schema:
            type: string
            example: DB00114
        - name: resource
          in: query
          schema:
            type: string
            example: BindingDB
          examples:
            BindingDB:
              value: BindingDB
            ChEBI:
              value: ChEBI
            ChEMBL:
              value: ChEMBL
            ChemSpider:
              value: ChemSpider
            Drugs Product Database (DPD):
              value: Drugs Product Database (DPD)
            GenBank:
              value: GenBank
            Guide to Pharmacology:
              value: Guide to Pharmacology
            IUPHAR:
              value: IUPHAR
            KEGG Compound:
              value: KEGG Compound
            KEGG Drug:
              value: KEGG Drug
            PDB:
              value: PDB
            PharmGKB:
              value: PharmGKB
            PubChem Compound:
              value: PubChem Compound
            PubChem Substance:
              value: PubChem Substance
            RxCUI:
              value: RxCUI
            Therapeutic Targets Database:
              value: Therapeutic Targets Database
            UniProtKB:
              value: UniProtKB
            Wikipedia:
              value: Wikipedia
            ZINC:
              value: ZINC             
        - name: identifier
          in: query
          schema:
            type: string
            example: 50118216
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1            
      responses:
        200:
          description: BEL statements
          content:
            application/json:
              schema:
                type: object   

  /api/v1/drugbank/reference:
    get:
      operationId: ebel.web.api.ebel.v1.drugbank.get_reference
      tags:
        - Drugbank
      summary: DrugBank pathway
      description: DrugBank reference
      parameters:
        - name: drugbank_id
          in: query
          schema:
            type: string
            example: DB00001
        - name: pmid
          in: query
          schema:
            type: string
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1            
      responses:
        200:
          description: BEL statements
          content:
            application/json:
              schema:
                type: object 

  /api/v1/drugbank/target:
    get:
      operationId: ebel.web.api.ebel.v1.drugbank.get_target
      tags:
        - Drugbank
      summary: DrugBank target
      description: DrugBank target
      parameters:
        - name: drugbank_id
          in: query
          schema:
            type: string
            example: DB00001
        - name: uniprot
          in: query
          schema:
            type: string
        - name: action
          in: query
          schema:
            type: string
        - name: known_action
          in: query
          schema:
            type: string                        
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1            
      responses:
        200:
          description: BEL statements
          content:
            application/json:
              schema:
                type: object 

  /api/v1/drugbank/pathway:
    get:
      operationId: ebel.web.api.ebel.v1.drugbank.get_pathway
      tags:
        - Drugbank
      summary: DrugBank pathway
      description: DrugBank pathway
      parameters:
        - name: drugbank_id
          in: query
          schema:
            type: string
            example: DB00114
        - name: smpdb_id
          in: query
          schema:
            type: string
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1            
      responses:
        200:
          description: BEL statements
          content:
            application/json:
              schema:
                type: object                

  /api/v1/drugbank/status:
    get:
      operationId: ebel.web.api.ebel.v1.drugbank.get_status
      tags:
        - Drugbank
      summary: DrugBank status
      description: DrugBank status
      parameters:
        - name: drugbank_id
          in: query
          schema:
            type: string
            example: DB00114
        - name: status
          in: query
          schema:
            type: string
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1            
      responses:
        200:
          description: BEL statements
          content:
            application/json:
              schema:
                type: object

  /api/v1/drugbank/patent:
    get:
      operationId: ebel.web.api.ebel.v1.drugbank.get_patent
      tags:
        - Drugbank
      summary: DrugBank patent
      description: DrugBank patent
      parameters:
        - name: drugbank_id
          in: query
          schema:
            type: string
            example: DB00001
        - name: number
          in: query
          schema:
            type: string
        - name: country
          in: query
          schema:
            type: string
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1            
      responses:
        200:
          description: BEL statements
          content:
            application/json:
              schema:
                type: object

  /api/v1/drugbank:
    get:
      operationId: ebel.web.api.ebel.v1.drugbank.get_drugbank
      tags:
        - Drugbank
      summary: Drug by DrugBank identifier
      description: Drug by DrugBank identifier
      parameters:
        - name: drugbank_id
          in: query
          schema:
            type: string
            example: "DB00843"
        - name: name
          in: query
          schema:
            type: string
            example: "Donepezil"
        - name: description
          in: query
          schema:
            type: string
            example: "%Aricept%"
        - name: cas_number
          in: query
          schema:
            type: string
            example: "120014-06-4"
        - name: unii
          in: query
          schema:
            type: string
            example: "8SSC91326P"
        - name: state
          in: query
          schema:
            type: string
            example: "solid"
        - name: indication
          in: query
          schema:
            type: string
            example: "%mild to moderate Alzheimer’s Disease%"
        - name: pharmacodynamics
          in: query
          schema:
            type: string
            example: "%inhibiting%"
        - name: toxicity
          in: query
          schema:
            type: string
            example: "%rat oral LD50%"
        - name: metabolism
          in: query
          schema:
            type: string
            example: "%CYP3A4%"
        - name: absorption
          in: query
          schema:
            type: string
            example: "%gastrointestinal tract%"
        - name: half_life
          in: query
          schema:
            type: string
            example: "%hours%"
        - name: route_of_elimination
          in: query
          schema:
            type: string
            example: "%urine%"
        - name: volume_of_distribution
          in: query
          schema:
            type: string
            example: "%mg dose%"
        - name: clearance
          in: query
          schema:
            type: string
            example: "%plasma%"
        - name: mechanism_of_action
          in: query
          schema:
            type: string
            example: "%cognitive and behavioral decline%"
        - name: fda_label
          in: query
          schema:
            type: string
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        200:
          description: List of DisGeNET entries
          content:
            application/json:
              schema:
                type: object  
                
                
  /api/v1/drugbank/ebel/relation:
    get:
      operationId: ebel.web.api.ebel.v1.drugbank.get_has_drug_target_db
      tags:
        - Drugbank
        - e(BE:L)
      summary: Drug/target relation in e(BE:L) knowledge base
      description: Drug/target relation in e(BE:L) knowledge base
      parameters:
        - name: drug_rid
          in: query
          description: e(BE:L) rid
          schema:
            type: string
        - name: drug_name
          in: query
          schema:
            type: string
            example: Flortaucipir F-18
        - name: drugbank_id
          in: query
          description: e(BE:L) rid
          schema:
            type: string
            example: DB14914
        - name: edge_rid
          in: query
          schema:
            type: string
        - name: action
          in: query
          schema:
            type: string
            example: binder
        - name: known_action 
          in: query
          schema:
            type: string
            example: "yes"
        - name: target_rid
          in: query
          schema:
            type: string
        - name: target_name 
          in: query
          description: e(BE:L) rid
          schema:
            type: string
            example: MAPT
        - name: target_namespace 
          in: query
          schema:
            type: string
            example: HGNC
        - name: target_uniprot_accession
          in: query
          schema:
            type: string
            example: P10636
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1            
      responses:
        200:
          description: BEL statements
          content:
            application/json:
              schema:
                type: object    
  ########################################################################################################################
  # Ensembl
  ########################################################################################################################

  /api/v1/ebel/ensembl/ensembl:
    get:
      operationId: ebel.web.api.ebel.v1.ensembl.get_ensembl
      tags:
        - Ensembl
      summary: Get Ensembl
      description: Get Ensembl
      parameters:
        - name: enst
          in: query
          schema:
            type: string
            example: ENST00000436584
        - name: version
          in: query
          schema:
            type: string
        - name: chromosome
          in: query
          schema:
            type: string
            example: 19
        - name: start
          in: query
          schema:
            type: integer
        - name: stop
          in: query
          schema:
            type: integer
        - name: orientation
          in: query
          schema:
            type: integer
        - name: gene_id
          in: query
          schema:
            type: string
        - name: gene_id_short
          in: query
          schema:
            type: string
        - name: hgnc_id
          in: query
          schema:
            type: string
        - name: symbol
          in: query
          schema:
            type: string
      responses:
        200:
          description: List of DisGeNET entries
          content:
            application/json:
              schema:
                type: object

  ########################################################################################################################
  # GwasCatalog
  ########################################################################################################################

  /api/v1/gwas_catalog/ebel/relation:
    get:
      operationId: ebel.web.api.ebel.v1.gwas_catalog.get_ebel_relation
      tags:
        - GWAS Catalog
        - e(BE:L)
      summary: Search clinvar by e(BE:L) relation
      description: Search clinvar by e(BE:L) relation
      parameters:
        - name: namespace
          in: query
          schema:
            type: string
            example: HGNC
        - name: name
          in: query
          description: Gene symbol
          schema:
            type: string
            example: CD33
        - name:  pubmed_id
          in: query
          schema:
            type: integer
            example: 21460841 
        - name: disease_trait 
          in: query
          schema:
            type: string
            example: Alzheimer's disease (late onset)
        - name: relation
          in: query
          schema:
            type: string
            enum:
              - has_downstream_snp_gc
              - has_mapped_snp_gc
              - has_snp_gwascatalog
              - has_upstream_snp_gc
            example: has_snp_gwascatalog
        - name: rs_number
          in: query
          schema:
            type: string
            example: rs3865444
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        200:
          description: List of ClinVar entries
          content:
            application/json:
              schema:
                type: object                


  /api/v1/gwas_catalog/gwas_catalog:
    get:
      operationId: ebel.web.api.ebel.v1.gwas_catalog.get_gwas_catalog
      tags:
        - GWAS Catalog
      summary: Get GWAS Catalog entries
      description: Get GWAS Catalog
      parameters:
        - name: date_added_to_catalog
          in: query
          schema:
            type: string
            example: 2013-10-24
        - name: pubmedid
          in: query
          schema:
            type: integer
            example: 23563609
        - name: first_author
          in: query
          schema:
            type: string
            example: Wheeler E
        - name: date
          in: query
          schema:
            type: string
            example: 2013-04-07
        - name: journal
          in: query
          schema:
            type: string
            example: Nat Genet
        - name: link
          in: query
          schema:
            type: string
            example: www.ncbi.nlm.nih.gov/pubmed/23563609
        - name: study
          in: query
          schema:
            type: string
            example: Genome-wide SNP and CNV analysis identifies common and low-frequency variants associated with severe early-onset obesity.
        - name: disease_trait
          in: query
          schema:
            type: string
            example: Obesity (early onset extreme)
        - name: initial_sample_size
          in: query
          schema:
            type: string
            example: 1,509 European ancestry cases, 5,380 European ancestry controls
        - name: replication_sample_size
          in: query
          schema:
            type: string
            example: 971 European ancestry cases, 1,990 European ancestry controls
        - name: region
          in: query
          schema:
            type: string
            example: 16q12.2
        - name: chr_id
          in: query
          schema:
            type: string
            example: 16
        - name: chr_pos
          in: query
          schema:
            type: integer
            example: 53767042
        - name: reported_gene_s
          in: query
          schema:
            type: string
            example: FTO
        - name: mapped_gene
          in: query
          schema:
            type: string
            example: FTO
        - name: upstream_gene_id
          in: query
          schema:
            type: string
        - name: downstream_gene_id
          in: query
          schema:
            type: string
        - name: upstream_gene_distance
          in: query
          schema:
            type: string
        - name: downstream_gene_distance
          in: query
          schema:
            type: string
        - name: strongest_snp_risk_allele
          in: query
          schema:
            type: string
            example: rs1421085-C
        - name: snp
          in: query
          description: RS number
          schema:
            type: string
            example: rs1421085
        - name: merged
          in: query
          schema:
            type: string
            example: 0
        - name: snp_id_current
          in: query
          schema:
            type: integer
            example: 1421085
        - name: context
          in: query
          schema:
            type: string
            example: intron_variant
        - name: intergenic
          in: query
          schema:
            type: string
            example: 0
        - name: risk_allele_frequency
          in: query
          schema:
            type: number
            example: 0.41
        - name: p_value
          in: query
          schema:
            type: string
            example: 3e-28
        - name: pvalue_mlog
          in: query
          schema:
            type: number
            example: 27.5229
        - name: p_value_text
          in: query
          schema:
            type: string
        - name: or_or_beta
          in: query
          schema:
            type: string
            example: 1.44
        - name: _95_ci_text
          in: query
          schema:
            type: string
            example: '[1.35-1.54]'
        - name: platform_snps_passing_qc
          in: query
          schema:
            type: string
            example: Affymetrix [~ 2000000] (imputed)
        - name: cnv
          in: query
          schema:
            type: string
            example: N
      responses:
        200:
          description: List of DisGeNET entries
          content:
            application/json:
              schema:
                type: object

  ########################################################################################################################
  # HGNC
  ########################################################################################################################

  /api/v1/hgnc/gene_group_name:
    get:
      operationId: ebel.web.api.ebel.v1.hgnc.get_gene_group_name
      tags:
        - HGNC
      summary: Get HGNC
      description: Get HGNC
      parameters:
        - name: hgnc_id
          in: query
          schema:
            type: string
        - name: name
          in: query
          schema:
            type: string
        - name: page_size
          in: query
          description: Results per page
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
            example: 10
        - name: page
          in: query
          description: Page number (starting with 1)
          required: false
          schema:
            type: integer
            default: 1
            example: 1  
      responses:
        200:
          description: shot statement
          content:
            application/json:
              schema:
                type: object            

  /api/v1/hgnc:
    get:
      operationId: ebel.web.api.ebel.v1.hgnc.get_hgnc
      tags:
        - HGNC
      summary: Get HGNC
      description: Get HGNC
      parameters:
[...]
